<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/shopapplication
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root
        </property>

        <!--  <property name="hibernate.hbm2ddl.auto">
                create
        </property>-->
        <mapping class="com.shopapplication.model.ShoppingOrder" />
        <mapping class="com.shopapplication.model.Product" />
        <mapping class="com.shopapplication.model.User" />
        <mapping class="com.shopapplication.model.Role" />
        <mapping class="com.shopapplication.model.EventLog" />
    </session-factory>
</hibernate-configuration>